<div class="show_user">
  <h1 class="header--name">USERS</h1>
  <div class="user_cards">
    <% @users.each do |user| %>
    <div class="card">
      <p><span class="span--name">Name:</span> <%= user.name %></p>
      <p><span class="span--name">Contacts:</span> <%= user.contacts.count %></p>
      <p><span class="span--name">Phone numbers:</span> <%= user.phones.count %></p>
      <p class="user_button"><%= link_to 'Details', user_path(user.id) %></p>
    </div>
    <% end %>
  </div>
  <div class="button">
    <%= link_to 'New User', users_new_path() %>
  </div>
</div>
