<div class="show_user">
<h1 class="header--name"><%= @user.name %></h1>
  <div class="card--main">
      <p><span class="span--main">Age:</span> <%= @user.age %></p>
      <p><span class="span--main">Bio:</span> <%= @user.bio %></p>
  </div>
  <div class="user_cards">
    <% @user.contacts.each do |contact| %>
    <div class="card">
      <p><span class="span--name">Name:</span> <%= contact.name %></p>
      <p><span class="span--name">Birthday:</span> <%= contact.birthday %></p>
      <p class="user_cards">
        <% contact.phones.each do |phone| %>
        <div class="card--phone">
          <p><span class="span--name">Phone:</span> <%= phone.number %></p>
          <p><span class="span--name">Type:</span> <%= phone.number_type %></p>
          <p><span class="span--name">Main?</span> <%= phone.main_number %></p>
        </div>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>

  <div class="button">
    <%= link_to 'All Users', users_path(@users) %>
  </div>
</div>
